<h2>Show task</h2>

<ul>
  <li>
    <strong>Title:</strong>
    <%= @task.title %>
  </li>
  <li>
    <strong>Description:</strong>
    <%= @task.description %>
  </li>
  <li>
    <strong>Weight:</strong>
    <%= @task.weight %>
  </li>
  <li>
    <strong>Position:</strong>
    <%= @task.position %>
  </li>
  <li>
    <strong>Status:</strong>
    <%= @task.status %>
  </li>
</ul>

<%= link "Edit", to: task_path(@conn, :edit, @task) %>
<%= link "Back", to: task_path(@conn, :index) %>
